#images{
  box-shadow: var(--inset);
  white-space: nowrap;
  overflow-x: scroll;

  img{
    filter: drop-shadow(4px 4px 4px rgba(0,0,0,.5));

    margin:20px;
    margin-right: 0;
    &:last-child{
      margin-right: 20px;
    }
    height:250px;
  }

  .img-1{
height:210px;
  }

    @media(min-width: 1000px){
      box-shadow: none;
      width: auto;
      position: absolute;
        top: 0px;
        bottom: unset;
        margin: 20px;
        left: 220px;
        .img-1{
          height:300px;
              }
              .img-2{
                height:360px;
              }

    }
}
