


:root{

--font-secondary: 'Kanit', sans-serif;
--font-primary: 'Orbitron', sans-serif;
--shadow:2px 2px 6px rgba(0,0,0,.5), -2px -2px 6px rgba(255,255,255,.1);
--theme:#304ffe;
--inset: inset 0px 2px 5px 0px rgb(0, 0, 0, 0.75);

}



::-webkit-scrollbar {
  display: none;
  }
 
  body,#projects{
    @media (prefers-color-scheme: dark) {
      background:rgb(30,30,30) !important;
      color:rgb(240,240,240) !important;
    }
  }

body{
  overscroll-behavior: contain;
  margin:0;
  user-select:none;
  color:rgb(20,20,20);
  background:rgb(240,240,240);

 

  font-family: var(--font-primary);

  a{
    text-decoration: none;
    color:rgb(200,200,200);
  }

  button{
    &:focus {outline:0;};
  }
  

  @media(max-width: 1000px){
    &::after {
        content: "";
        display: block;
        height: 100px;
      }
    }

}



#profile{
  display: inline-block;
  .name{
    margin:20px;
    font-size:24px;
    font-weight: bold;
    }
    .title{
      font-family: var(--font-secondary);
    margin:-10px 30px 20px 30px;
    font-size:20px;
    }
}

  @media(min-width: 1000px){
  #project {
    margin-top:100px;
    .details{
    display: flex;
  }
}
  }



 

 

    #qr-link{
      margin:20px;width:100px;
      border-radius:10px;
      box-shadow: var(--shadow);
      @media(min-width: 1000px){
      position: absolute;bottom:0;right:0;
      }
    }