#piano{
  text-align:center;
  #piano-img{
    width:calc(100% - 80px);
    box-shadow: var(--shadow);
    max-width:200px;
    border-radius: 50%;
    display: block;
    margin: 40px auto;
  }
  #info{
    margin:40px;
    #name{
      font-size: 30px;
      margin:10px;
    }
    #about{
      font-family: var(--font-secondary);
    }
  }

  #piano-qr{
    margin: 10px;
    width:100px;
    border-radius: 5px;
  }

  #youtube{
    box-shadow:var(--shadow);
    color:white;
    background:var(--theme);
    border-radius: 5px;
    cursor: pointer;
font-size: 30px;
    margin:10px;
          padding: 5px 10px;
  }
}